.btn {
    @include btn;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 3rem;
    & a {
        color: $white;
    }
    &:hover {
        // background-image: none;
        background-image: $lighten-degrade;
        box-shadow: 0.5rem 0.5rem 12px rgb(154, 152, 152);
    }
}