
@keyframes slide-top{
    0%{
        opacity: 0;
        transform:translateY(-100px)
    };
    100%{
        opacity: 1;
        transform:translateY(0)
    };
}
@keyframes slide-left {
    0% {
      right: 130px;
    }
    100% {
      right: 0;
    }
}
  