@mixin flexbox-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin size-title {
    font-size: 2rem;
    font-weight: 750;
}
@mixin size-body {
    font-size: 1.7rem;
    font-weight: 200;
}
@mixin size-card {
    font-size: 1.2rem;
    margin: 0;
}
@mixin btn {
    border: 0;
    padding: 0.75rem 1.5rem;
    height: 4rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 2rem;
    color: $white;
    background-image: $degrade;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 10px rgb(154, 152, 152);
}