$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$white: #fff;

$background-location: darken(#fff,10%);
$background-grey: darken(#fff,5%);
$nouveau-color: darken($colour-tertiary,30%);
$lighten-primary: lighten($colour-primary,5%);
$lighten-secondary: lighten($colour-secondary,5%);
$lighten-tertiary: lighten($colour-tertiary,30%);
$degrade: linear-gradient(to right,$colour-secondary,$colour-primary);
$lighten-degrade: linear-gradient(to right,$lighten-secondary,$lighten-primary);
$footer-colour: #353535;
$background: -webkit-gradient(linear, left top, left bottom, from($colour-primary), to($colour-secondary));