.header {
    @include flexbox-center;
    flex-direction: column;
    position: relative;
    // height: 45rem;
    &__heading {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 10px 0 10px 0;
        width: 100%;
        // box-shadow: 0 0.5rem 0.5rem 0.5rem rgb(0 0 0 / 25%);
        & i {
            position: absolute;
            left: 1rem;
            top: 2rem;
        }
    }
    &__location {
        @include flexbox-center;
        width: 100%;
        height: 4rem;
        background-color: $background-location;
        box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
        & i {
            margin-right: 1rem;
            width: 1rem;
        }
        & h3 {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
    &__description{
        @include flexbox-center;
        flex-direction: column;
        width: 100%;
        background-color: $background-grey;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        margin: 0;
        & h1 {
            text-align: center;
            @include size-title;
        }
        & p {
            text-align: center;
            @include size-body;
            margin: 0 0 32px 0;
            
        }
    }
    &__img {
        width: 100%;
        height: 40rem;
        padding-bottom: 1rem;
        background-color: $background-grey;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &__name {
        display: flex;
        position: absolute;
        top: 40rem;
        height: 5rem;
        padding-top: 1rem;
        margin-bottom: 3rem;
        background-color: $background-grey;
        border-radius: 2rem 2rem 0 0;
        // border: solid;
        width: 100%;
        justify-content: space-around;
        & h3 {
            font-family: 'Shrikhand';
            @include size-title;
            margin: 0;
        }

    }
}