.header {
    @include flexbox-center;
    flex-direction: column;
    // height: 45rem;
    &__logo {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 10px 0 10px 0;
        // width: 80%;
        & img {
            width: 80%;
        }
    }
    &__heading {
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin: 10px 0 10px 0;
        width: 100%;
        // box-shadow: 0 0.5rem 0.5rem 0.5rem rgb(0 0 0 / 25%);
        &--previous {
            width: 5%;
            // position: absolute;
        }
        &--logo {
          width: 90%;
          display: flex;
          align-content: center;
          justify-content: center;
          & img {
            overflow: hidden;
            object-fit: cover
          }
        }
    }
    &__location {
        @include flexbox-center;
        width: 100%;
        height: 4rem;
        background-color: $background-location;
        box-shadow: 0 0 0.5rem rgb(154, 152, 152);
        & i {
            margin-right: 1rem;
            width: 1rem;
        }
        & input {
            border-style: none;
            border: none;
            font-size: 1.2rem;
            font-weight: 500;
            color: black;
            background-color: $background-location;
        }
    }
    &__description{
        @include flexbox-center;
        flex-direction: column;
        width: 100%;
        background-color: $background-grey;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        margin: 0;
        & h1 {
            text-align: center;
            @include size-title;
        }
        & p {
            text-align: center;
            @include size-body;
            margin: 0 0 32px 0;
            
        }
    }
    &__img {
        width: 100%;
        height: 40rem;
        padding-bottom: 1rem;
        background-color: $background-grey;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &__name {
        display: flex;
        position: absolute;
        top: 40rem;
        height: 5rem;
        padding-top: 1rem;
        margin-bottom: 3rem;
        background-color: $background-grey;
        border-radius: 2rem 2rem 0 0;
        // border: solid;
        width: 100%;
        justify-content: space-around;
        & h3 {
            font-family: 'Shrikhand';
            @include size-title;
            margin: 0;
        }
        &--heart {
            cursor: pointer;
            position: relative;
            & i {
                // margin-left: 1rem;
                display: inline;
                opacity: 1;
                transition: opacity .5s;

            }
            & span i {
            left: 0;
            top: 10px;
            position: absolute;
            display: inline;
            background: -webkit-gradient(linear, left top, left bottom, from($colour-primary), to($colour-secondary));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: -1;
            transition: opacity .5s;
            }
            &:hover {
            i {
                opacity: -1;
            }
            span i {
                opacity: 1;
                background: -webkit-gradient(linear, left top, left bottom, from($colour-primary), to($colour-secondary));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            }
        }
    }
}
