.header {
    @include flexbox-center;
    flex-direction: column;
    &__heading {
        display: flex;
        justify-content: center;
        margin: 10px 0 10px 0;
        width: 100%;
        // box-shadow: 0 0.5rem 0.5rem 0.5rem rgb(0 0 0 / 25%);
    }
    &__location {
        @include flexbox-center;
        width: 100%;
        height: 4rem;
        background-color: $background-location;
        box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
        & i {
            margin-right: 1rem;
            width: 1rem;
        }
        & h3 {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
    &__description{
        width: 100%;
        background-color: $background-grey;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        margin: 0;
        & h1 {
            text-align: center;
            @include size-title;
        }
        & p {
            text-align: center;
            @include size-body;
            margin: 0 0 32px 0;
            
        }
    }
}