nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    & h1 {
        @include size-title
    }
}
.navigation {
    display: flex;
    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: calc(100%/3);
        &--num {
            color: $white;
            background-color: $colour-primary;
            width: 30px;
            height: 30px;
            border-radius: 25px;
            & p {
                margin:0;
                font-size: 1rem;
                text-align: center;
                text-justify: center;
            }
        }
        &--bloc {
            @include flexbox-center;
            justify-content: flex-start;
            width: 90%;
            height: 5rem;
            // border: solid black;
            border-radius: 1.25rem;
            box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
            
            & i {
                margin-left: 1rem;
                color: gray;
            }
            & h2 {
                margin:0; 
                text-align: center;
                text-justify: center;
                font-weight: 550;
                font-size: 1.2rem;
                margin-left: 1rem;
            }
        }    
    }
}
