a {
   text-decoration: none;
   color: #333333;
}
a {
   width: 100%;
   height: 100%;
   text-decoration: none;
   color: #333333;
}
.previous {
   width: auto;
}
.grid {
   // width: 100%;
   display: flex;
   flex-direction: column;
   background-color: $background-grey;
   padding-bottom: 3rem;
   &__title {
      @include size-title
   }
}
.rest {
   display: flex;
    display: inline-flex;
    flex-wrap: wrap;
   column-gap: 2%;
   row-gap: 2%;
}
.card {
   display: flex;
   flex-direction: column;
   width: 49%;
   height: 300px;
   margin-bottom: 20px;
   border-radius: 1rem;
   background-color: $white;
   // border: solid red;
   &__img {
      width: 100%;
      height: 70%;
      position: relative;
      border-radius: 1rem 1rem 0 0;
      & img {
         width: 100%;
         height: 100%;
         border-radius: 1rem 1rem 0 0;
         overflow: hidden;
         object-fit: cover
      }
      & h3 {
         // z-index: 1;
         // border: solid red;
         position: absolute;
         top: 1rem;
         right: 0.75rem;
         margin: 0;
         padding: 0.2rem 0.75rem ;
         border-radius: 0.125rem;
         font-size: 1rem;
         color: $nouveau-color;
         background-color: $colour-tertiary;
      }
   }
   &__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px 0 15px;
      height: 30%;
      border-radius: 0 0 1rem 1rem;
      &--text {
         display: flex;
         flex-direction: column;
         // margin: 0;
         & h2 {
            @include size-card;
         }
         & p {
            @include size-card;
         }
      }
      &--heart {
         width: 32px;
         height: 32px;
         cursor: pointer;
         position: relative;
         & i {
            // margin-left: 1rem;
            position: absolute;
            display: inline;
            opacity: 1;
            transition: opacity .5s;

        }
        & span i {
         left: 0;
         // top: 9.5px;
         position: absolute;
         display: inline;
         background-image: linear-gradient(transparent 50%, transparent 50%, $colour-primary 50%, $colour-secondary);
         background-size: 100% 200%;
         background-position: top;
         transition: background-position 0.5s ease-in-out;
         // background: -webkit-gradient(linear, left top, left bottom, from($colour-primary), to($colour-secondary));
	      -webkit-background-clip: text;
	      -webkit-text-fill-color: transparent;
         // opacity: -1;
         transition: .5s ease-out;
        }
        &:hover {
         i {
            // opacity: -1;
         }
         span i {
            // opacity: 1;
            // height: 100%;
            background-position: bottom;
         }
        }
      }
      // &--heart {
      //    width: 32px;
      //    height: 32.7px;
      //    display: flex;
      //    cursor: pointer;
      //    position: relative;
      //    overflow: hidden;
      //    & i {
      //       // margin-left: 1rem;
      //       display: inline;
      //       opacity: 1;
      //       color: white;
      //       border-radius: 1rem solid black;
      //       // transition: opacity .5s;

      //   }
      //   & span i {
      //    left: 0;
      //    // top: 10px;
      //    bottom: -30px;
      //    position: absolute;
      //    display: inline;
      //    background: -webkit-gradient(linear, left top, left bottom, from($colour-primary), to($colour-secondary));
	   //    -webkit-background-clip: text;
	   //    -webkit-text-fill-color: transparent;
      //    // opacity: -1;
      //    // transition: opacity .5s;
      //   }
      //   &:hover {
      //    i {
      //       // opacity: -1;
      //       animation: remplir 3s forwards;
      //    }
      //    // span i {
      //    //    // opacity: 1;
            
      //    //    animation: fill 1s forwards;
      //    //    bottom: -10px;
      //    //    // background: -webkit-gradient(linear, left top, left bottom, from($colour-primary), to($colour-secondary));
	   //    //    // -webkit-background-clip: text;
	   //    //    // -webkit-text-fill-color: transparent;
      //    // }
      //   }
      // }
   }
}
.main {
   display: flex;
   flex-direction: column;
   background-color: $background-grey;
   // position: absolute;
}
.menu {
   display: flex;
   flex-direction: column;
   padding-bottom: 2rem;
   & h2 {
      @include size-card;
   }
   &__underline {
      background-color: $colour-tertiary;
      width: 3.5rem;
      height: 0.25rem;
   }
}
.submenu {
   display: flex;
   display: inline-flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-top: 1.5rem;
   cursor: pointer;
}
.opt {
   display: flex;
   overflow: hidden;
   padding: 0;
   @include size-card;
   width: calc(90%/3);
   border-radius: 1rem;
   background-color: $white;
   box-shadow: 2px 2px 2px lightgrey;
   animation: slide-top 1.5s ease-in-out;
   // border: solid;
   &__left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0rem 0 0rem 1rem;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      &--name {
         width: 85%;
         display: flex;
         flex-direction: column;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
         padding: 0;
         & h3 {
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0;
         }
         & p {
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0;
         }
      }
      &--price {
         // margin: 1rem 1rem 0 1rem;
         width: 20%;
         padding: 0;
         display: flex;
         align-items: flex-end;
         justify-content: flex-end;
         white-space: nowrap;
         overflow: hidden;
      }
   }
   &__check {
      display: flex;
      background-color: $colour-tertiary;
      // width: 0px;
      align-items: center;
      justify-content: center;
      color: white;
      margin: 0;
      padding: 0;
      // left: 130px;
      // display: none;
      // margin-left: 130px;
   }
   &:hover {
      .opt__check {
         // display: inline-flex;
         animation: slide-left 0.5s forwards;
         margin-left: 1rem;
         animation-direction: alternate;
         width: 50px;
         & i {
            animation: rotation 0.5s forwards;
            animation-direction: alternate;
         }
      }
      .opt__left {
         // width: calc(100% - 70px);
      }
   }
   &:not(:hover) {
      .opt__check {
         animation: slide-right 0.5s forwards;
         // width: 50px;
         // margin-left: 0px;
         animation-direction: alternate;
         // display: inline-flex;
      }
   }
}

.commander {
   display: flex;
   justify-content: center;
}
@media (max-width: 1200px) {
   .submenu {
      flex-wrap: wrap;
   }
   .opt{
      width: 45%;
      margin-bottom: 2rem;
   }
}
@media (max-width: 768px) {
   .card {
      width: 100%;
   }

}
@media (max-width: 603px) {
   .card {
      width: 100%;
   }
   .opt{
      width: 100%;
      margin-bottom: 2rem;
   }
}
