.grid {
   // width: 100%;
   display: flex;
   flex-direction: column;
   background-color: $background-grey;
   padding-bottom: 3rem;
   &__title {
      @include size-title
   }
}
.rest {
   display: flex;
    display: inline-flex;
    flex-wrap: wrap;
   column-gap: 2%;
   row-gap: 2%;
}
.card {
   display: flex;
   flex-direction: column;
   width: 49%;
   height: 300px;
   margin-bottom: 20px;
   border-radius: 1rem;
   background-color: $white;
   // border: solid red;
   &__img {
      width: 100%;
      height: 70%;
      position: relative;
      border-radius: 1rem 1rem 0 0;
      & img {
         width: 100%;
         height: 100%;
         border-radius: 1rem 1rem 0 0;
         overflow: hidden;
         object-fit: cover
      }
      & h3 {
         // z-index: 1;
         // border: solid red;
         position: absolute;
         top: 1rem;
         right: 0.75rem;
         margin: 0;
         padding: 0.2rem 0.75rem ;
         border-radius: 0.125rem;
         font-size: 1rem;
         color: $nouveau-color;
         background-color: $colour-tertiary;
      }
   }
   &__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px 0 15px;
      height: 30%;
      border-radius: 0 0 1rem 1rem;
      &--text {
         display: flex;
         flex-direction: column;
         // margin: 0;
         & h2 {
            @include size-card;
         }
         & p {
            @include size-card;
         }
      }
      &--heart {
         width: 32px;
         height: 32.7px;
         cursor: pointer;
         position: relative;
         & i {
            // margin-left: 1rem;
            display: inline;
            opacity: 1;
            transition: opacity .5s;

        }
        & span i {
         left: 0;
         top: 10px;
         position: absolute;
         display: inline;
         background: -webkit-gradient(linear, left top, left bottom, from($colour-primary), to($colour-secondary));
	      -webkit-background-clip: text;
	      -webkit-text-fill-color: transparent;
         opacity: -1;
         transition: opacity .5s;
        }
        &:hover {
         i {
            opacity: -1;
         }
         span i {
            opacity: 1;
            background: -webkit-gradient(linear, left top, left bottom, from($colour-primary), to($colour-secondary));
	         -webkit-background-clip: text;
	         -webkit-text-fill-color: transparent;
         }
        }
      }
   }
}
.main {
   display: flex;
   flex-direction: column;
   background-color: $background-grey;
   // position: absolute;
}
.menu {
   display: flex;
   flex-direction: column;
   padding-bottom: 2rem;
   & h2 {
      @include size-card;
   }
   &__underline {
      background-color: $colour-tertiary;
      width: 3.5rem;
      height: 0.25rem;
   }
}
.submenu {
   display: flex;
   display: inline-flex;
   gap: 5%;
   margin-top: 1.5rem;
   cursor: pointer;
}
.opt {
   display: flex;
   justify-content: space-between;
   overflow: hidden;
   @include size-card;
   width: 40%;
   border-radius: 1rem;
   background-color: $white;
   box-shadow: 2px 2px 2px lightgrey;
   animation: slide-top 1.5s ease-in-out;
   // border: solid;
   &__left {
      display: flex;
      flex-direction: row;
      padding: 1rem;
      width: calc(100% - 130px);
      &--name {
         display: flex;
         flex-direction: column;
         & h3 {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }
         & p {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }
      }
      &--price {
         margin: 0;
         display: flex;
         align-items: flex-end;
      }
   }
   &__check {
      display: flex;
      background-color: $colour-tertiary;
      width: 130px;
      align-items: center;
      justify-content: center;
      color: white;
      margin-left: 130px;
   }
   &:hover {
      .opt__check {
         animation: slide-left 0.5s forwards;
         margin-left: 0;
         animation-direction: alternate;
         & i {
            animation: rotation 0.5s forwards;
            animation-direction: alternate;
         }
      }
   }
   &:not(:hover) {
      .opt__check {
         animation: slide-right 0.5s forwards;
         margin-left: 0px;
         animation-direction: alternate;
      }
   }
}

.commander {
   display: flex;
   justify-content: center;
}
@media (max-width: 768px) {
   .card {
      width: 100%;
   }
}
@media (max-width: 1200px) {
   .submenu {
      flex-wrap: wrap;
   }
   .opt{
      width: 100%;
      margin-bottom: 2rem;
   }
}